/* You can add global styles to this file, and also import other style files */

body{
    background-color: lightslategray;
    margin: 20px;
    background-image: url(https://todosamam.files.wordpress.com/2013/08/filmes-famosos-2.png);
    
      
}

