<!--Exercício 01--------------------------------------------->

<section id="container">
    <p>Semana 07 - Exercício 01 a 3</p>

    <h1>Olá Mundo!!!!</h1>

<!--Exercício 02---------------------------------------------->
   <input type="text" [(ngModel)]="digita">
   <p> {{ digita }}</p>

<!--Exercício 03---------------------------------------------->
<div>
    <input type="number" [(ngModel)]="numero1" placeholder="Número 1" >
    <input type="number" [(ngModel)]="numero2" placeholder="Número 2" >
  </div>
  
  <div>
    <button (click)="somar()">Somar</button>
    <button (click)="subtrair()">Subtrair</button>
    <button (click)="multiplicar()">Multiplicar</button>
    <button (click)="dividir()">Dividir</button>
  </div>
  
  <div>
    <h3>Resultado: {{ resultado }}</h3>
  </div>
  <div>
    <button (click)="limpar()">Limpar</button>
  </div>
  

</section>


