
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="/assets/Meuprojeto.png" alt="Logo" width="120" height="120" class="d-inline-block align-top">
    <a class="navbar-brand" href="#">
      NOTIFICATION-APP
    </a>
    <nav class="navbar navbar-dark bg-dark">
      <button class="navbar-toggler " type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  
  </nav>



<div class="container mt-5">
  <h1>Notification List</h1>
  <ul class="list-group">
    <li class="list-group-item">
      <h5 class="mb-1">Nova mensagem</h5>
      <small>De: João Silva</small>
      <p class="mb-1">Você recebeu uma nova mensagem de João Silva.</p>
      <small>25 de Junho, 2023</small>
    </li>
    <li class="list-group-item">
      <h5 class="mb-1">Atualização do sistema</h5>
      <small>Por: Admin</small>
      <p class="mb-1">Uma nova atualização do sistema está disponível. Por favor, atualize para a versão mais recente.
      </p>
      <small>24 de Junho, 2023</small>
    </li>
    <li class="list-group-item">
      <h5 class="mb-1">Lembrete de reunião</h5>
      <small>Por: Maria Souza</small>
      <p class="mb-1">Lembrete: Reunião de equipe às 14h. Não se esqueça de participar.</p>
      <small>23 de Junho, 2023</small>
    </li>
  </ul>
</div>