

<header>
    <nav>
      <ul>
        <li><a routerLink="/paginaInicial" routerLinkActive="active">Página Inicial</a></li>
        <li><a routerLink="/Sobre" routerLinkActive="active">Sobre</a></li>
        <li><a routerLink="/Contato" routerLinkActive="active">  Contato</a></li>
        <li><a routerLink="/content/Sign-in" routerLinkActive="active">Sign in</a></li>
        <li><a routerLink="/content/Esqueci-senha"routerLinkActive="active" >Esqueci a senha</a></li>
        <li><a routerLink="/content/Login"routerLinkActive="active" >Login</a></li>
      </ul>
    </nav>
  </header>