a {
    text-decoration: none;
    margin-top: 30px;  
  
   
}

li{
    list-style-type: none;
    display: flex;
    padding-right: 25px;
}

ul{
    display: flex;
    padding-right: 14px;
}

header{
    background-color: rgb(106, 204, 204);
    display: flex;
    height: 150px;
    border-radius: 15px;
}